* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, p {
  margin: 0;
  padding: 0;
}

.link {
  padding: 0 8px;
}

.link:hover {
  border-bottom: 2px solid #2d8cff;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #2d8cff;
}